OVERVIEW_HEIGHT_FACTOR = 1 - TICKER_HEIGHT_FACTOR;

#overview {
  position: absolute;
  height: OVERVIEW_HEIGHT_FACTOR * DEVICE_HEIGHT;
  bottom: TICKER_HEIGHT_FACTOR * DEVICE_HEIGHT;

  .stream {
    display: block;

    &:focus {
      background-color: #f00;
    }
  }
}

COLUMN_WIDTH = 320px;

#overview-newest, #overview-hottest {
  position: absolute;
  width: COLUMN_WIDTH;
  height: 100%;
  background-color: BACKGROUND_COLOR;
  overflow: hidden;

  &.active {
    background-color: ACTIVE_BACKGROUND_COLOR;
  }
  
  > .elements {
    .stream {
      padding: 10px;

      &.active {
        background-color: #f00;
      }
    }
  }

  > h2 {
    margin: 0;
    padding: 10px;
    height: 28px;
  }
}

#overview-newest {
  left: COLUMN_WIDTH;
}

#overview-hottest {
  left: 0;
}

#info {
  position: absolute;
  width: DEVICE_WIDTH;
  height: DEVICE_HEIGHT;
  background-color: #fff;
}