OVERVIEW_HEIGHT_FACTOR = 1 - TICKER_HEIGHT_FACTOR;

#overview {
  position: absolute;
  height: OVERVIEW_HEIGHT_FACTOR * DEVICE_HEIGHT;
  bottom: TICKER_HEIGHT_FACTOR * DEVICE_HEIGHT;

  .stream {
    display: block;

    &:focus {
      background-color: #f00;
    }
  }
}

COLUMN_WIDTH = 300px;

#overview-newest, #overview-hottest {
  position: absolute;
  width: COLUMN_WIDTH;
  height: 100%;
  background-color: BACKGROUND_COLOR;

  &.active {
    background-color: ACTIVE_BACKGROUND_COLOR;
  }

  > h2 {
    margin: 0;
    height: 28px;
  }

  > .elements {
    
  }
}

#overview-newest {
  left: COLUMN_WIDTH;
}

#overview-hottest {
  left: 0;
}