DEVICE_WIDTH = 1280px;
DEVICE_HEIGHT = 720px;

BACKGROUND_COLOR = rgba(1, 1, 1, 0.2);

body {
  font-family: 'Tiresias PCfont',TiresiasPCfont,'Tiresias Screen Font',TiresiasScreenfont,Tiresias,'Philips Screen Font 4',Arial,sans-serif;
  width: DEVICE_WIDTH;
  height: DEVICE_HEIGHT;
  position: absolute;
  margin: 0;
}

@import "ticker";
@import "overview";