TICKER_HEIGHT_FACTOR = 0.2;

#ticker {
  bottom: 0;
  position: absolute;
  height: TICKER_HEIGHT_FACTOR * DEVICE_HEIGHT;
  background-color: BACKGROUND_COLOR;
  width: 100%;
  
  > .logo {
        
    background-image: url("../img/logo_farbe.png");
    height: 50px;
    width: 50px;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
  }

  > .elements {
    height: 100%;

    > .stream {
      font-size: 15px;
      display: block;
      width: 200px;
      float: left;

      > .user > .image {
        height: 40px;
        width: 40px;
        background-size: cover;
        float: left;
        margin: 5px;
  
      }
    }

  }

}